.top-container {
  background-color: #f3f3f3;
  padding-top: 50px;
  position: relative;
  color: #0f4c75;
  height: 500px;
}

.statement {
  position: relative;
  bottom: 40px;
}

.monuments {
  position: relative;
  bottom: 51px;
  width: 75%;
}

.middle-container {
  position: relative;
}

.satellite {
  position: absolute;
  transform: rotate(100deg);
  width: 5%;
  top: 80px;
  right: 400px;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Montaga', serif;
}

h1 {
  margin: 0;
  padding-top: 50px;
  font-family: 'Montez', cursive;
  font-size: 5.625rem;
  font-weight: normal;
  line-height: 2;
}

.top-container p {
  font-size: 1.25rem;
}

h2 {
  font-family: 'Montez', cursive;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 30px;
  color: #206a5d;
  font-weight: bold;
}

h3 {
  margin-top: 0;
  color: #59405c;
  font-size: 1.6rem;
  font-weight: bold;
}

p {
  color: #3b2e5a;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
  line-height: 2;
}

.btn {
  font-family: 'Montaga', serif;
  text-decoration: none;
}

.profile img {
  padding-top: 30px;
  width: 13%;
}

.profile {
  background-color: #6ebfb5;
  width: 100%;
  height: 400px;
}

.line {
  border-style: double none none;
  border-color: #1f4068;
  border-width: 10px;
  width: 10%;
  display: inline-block;
}

.dot {
  border-style: dotted none none;
  border-color: #1f4068;
  border-width: 10px;
  width: 2%;
  display: inline-block;
}

.skill-row {
  width: 50%;
  margin: 50px auto;
  text-align: left;
  background-color: #93b5e1;
}

.skill-row-2 {
  width: 50%;
  margin: 100px auto 0;
  padding-bottom: 100px;
  text-align: left;
  background-color: #93b5e1;
}

.skills {
  background-color: #93b5e1;
}

.coding {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.design {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-me-main {
  background-color: #fff48f;
  text-decoration: none;
  height: 260px;
}

.contact-me-main a {
  text-decoration: none;
  color: #3b2e5a;
}

.contact-me-main a:hover {
  color: #fff;
}

.btn {
  border-radius: 34px;
  ;
  border-width: 3px;
}

.bottom-container {
  position: relative;
  height: 80px;
}

.footer-link {
  display: inline-block;
  position: relative;
  top: 10px;
  margin-right: 10px;
}

.bottom-container p {
  position: relative;
  margin: 5px;
  top: 10px;
  padding-bottom: 0;
}

/* Media query breakpoints */
@media only screen and (max-width:1000px) {
  .monuments {
    width: 88%;
    top: 45px;
  }

  .satellite {
    right: 100px;
    width: 10%;
  }

  /* Profile */
  .profile img {
    width: 25%;
  }

  .profile p {
    margin: auto 90px auto;
    letter-spacing: .1rem;
  }

  /* Skills section */
  .skill-row {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .coding {
    float: none;
    width: 40%;
    padding-bottom: 15px;
  }

  .skill-row h3 {
    font-weight: bold;
  }

  .skill-row p {
    letter-spacing: .1rem;
  }

  /* --- */
  .skill-row-2 {
    text-align: center;
    padding-top: 0;
    margin-top: 10px;
    padding-bottom: 17px;
  }

  .skill-row-2 h3 {
    font-weight: bold;
  }

  .skill-row-2 p {
    letter-spacing: .1rem;
  }

  .design {
    position: relative;
    right: 20px;
    text-align: center;
    margin-top: 0;
    float: none;
    width: 45%;
  }

  /* Conatct me */
  .contact-me-main {
    padding-bottom: 20px;
    height: inherit;
  }

  .contact-me-main p {
    margin: auto 90px auto;
    letter-spacing: .1rem;
  }

  /* Social */
}
